{% extends "layout.html" %}
    {% block body %}
</li>
    </nav>
</ul>   
    </div>    
<div class="team">
<div>
    <h1 class="head1">TEAM MEMBERS</h1>
</div>
<div class="mentor">
    <u><h2>VISHAL SHARMA</h2></u>
    <p><b>Microsoft student partner | Founder at FreshlyBuilt<br>Student at G.B Pant Government Engineering College, New Delhi</b></p>
</div>
<div class="mem1">
    <u><h2>KOMAL PAL</h2></u>
    <p><b>Web Developer| Python Developer<br>Student at G.B Pant Government Engineering College, New Delhi</b></p>
</div>
<div class="mem2">
    <u><h2>SUSHMITA RAY</h2></u>
    <p><b>Python Developer<br>Student at Ch. Brahm Prakash Government Engineering College, New Delhi</b></p>
</div>
<div class="mem3">
    <u><h2>SIMRAN SINGH</h2></u>
    <p><b>Python And C++ Developer<br>Student at Maharaja Agrasen Institute Of Technology, New Delhi</b></p>
</div>
<div class="mem4">
    <u><h2>SUSHMITA</h2></u>
    <p><b>Python Developer| Computer Vision Enthusiast<br>Student at G.B Pant Government Engineering College, New Delhi</b></p>
</div>
<div class="mem5">
    <u><h2>Kapil Bansal</h2></u>
    <p><b>Technical Content Writer| Python Developer<br>Student at G.B Pant Government Engineering College, New Delhi</b></p>
</div>
<div class="mem6">
    <u><h2>VIDUSHI JAIN</h2></u>
    <p><b>Student at G.B Pant Government Engineering College, New Delhi</b></p>
</div>
<div class="mem7">
        <u><h2>MEENAL KHAJURIA</h2></u>
    <p><b>Web Developer<br>Student at G.B Pant Government Engineering College, New Delhi</b></p>
 </div>
 <div class="mem8"> 
    <u><h2>RAVI PANWAR</h2></u>
    <p><b>Android App Developer<br>Student at G.B Pant Government Engineering College, New Delhi</b></p>
</div>
    <div class="mem9">
    <u><h2>AKSHAY KUMAR</h2></u>
    <p><b> Front End Developer</b></p>
</div>
</div>
{% endblock %}
