{% extends "layout.html" %}
    {% block body %}

<input type="checkbox"id="openSidebar">
    <label for="openSidebar" class="sidebarIconToggle">
        <div class="spinner top"></div>
        <div class="spinner middle"></div>
        <div class="spinner bottom"></div> 
    </label>
         <div class="sidebar">
         	<ul>
                <li><label onclick="defaultBtnActive(this.id)" id="camera-btn"><i class="fa fa-camera-retro" aria-hidden="true"></i> Camera</label></li>
                <li><label onclick="defaultBtnActive(this.id)" id="upload-btn">
                  <i class="fas fa-upload"></i> Upload</label></li>

                <li class="trans"><label ><i class="fas fa-language"></i> Translate</label>
                    <form action="/upload-image" method="POST" enctype="multipart/form-data">
                
                    <div class="lang">
                        <select class="select_lang" name="languages" method="GET" >
                        {% for language in languages %}
                        {% if language=='english' %}
                            <option value= "{{language}}" SELECTED >{{language}}</option>
                        {% else %}
                            <option value= "{{language}}" >{{language}}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </div>  
                </li>
            </ul>
    </div>
    
</nav>
</ul>   
</div>	
<!-- Preview section -->
<center>
<div class="container" id="click">
    <div class="form-group">
        <input hidden type="file" accept="image/*" name="original-image" id="original-image">
	<div class="wrapper">
		<div class="image">
            <img id="img1" src= "" alt="" width="100%" height="100%" />
        </div>
        <div class="content">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <base href="#original-image"><div class="text">Preview</div></base>
         </div>
         <div id='loader' style='display: none;'>
            <img src="{{ url_for('static', filename='images/loading.gif') }}" >
          </div>
    <div id="cancel-btn"><i class="fas fa-times"></i></div>
    <div class="file-name">file name here</div>
    </div>
    <button id="upload" type="submit" class="btn-primary">Scan</button>
    </form>
	</div>
</center>
<!-- Audio player -->
        <div id="main">
			<div id="player">
				<div id="buttons">
					<button id="pre" onclick="pre()"><img src="{{ url_for('static', filename='images/Pre.png') }}" height="90%" width="90%"/></button>
					<button id="play" onclick="playOrPauseSong()"><img src="{{ url_for('static', filename='images/Play.png') }}"/></button>
					<button id="next" onclick="next()"><img src="{{ url_for('static', filename='images/Next.png') }}" height="90%" width="90%"/></button>
				</div>
            <div id="songTitle">Demo</div>
                <div id="seek-bar">
					<div id="fill"></div>
					<div id="handle"></div>
				</div>
            </div>
        </div>
        <center>
            <div class="down">
                <a id="audioDownload"><button class="btn-primary">Download Audio</button></a>
            </div>
        </center>
    </div>
{% endblock %}